<!DOCTYPE html>
<html>
    <head>
    <title>Weather</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
 
<body>
 <div class="main-content">
        {{>header}}
        <form>
 <input placeholder="Enter Location"><button> Search</button> 
        </form>
       <p id="m1"></p>
       <p id="m2"> </p>
       <p id="m3"> </p>
       <p id="m4"> </p>
</div>
    <script src="/js-files/app.js"></script>
{{>footer}}
</body>
</html>